::-webkit-scrollbar {
    display: none;
}
.compare-player-input{
    width: 40%;
    border-radius: 8px;
    border: 2px solid black;
    color: white;
    height: 70vh;
    overflow: scroll;
    padding: 2em;
    width: fit-content;
    box-sizing: border-box;
}
.compare-attributes{
    overflow: scroll;
    height: 100%;
    width: fit-content;
}
.radar-chart{
    width: 100%;
    height: 600px;
}
.compare-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
}
.player-display{
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 2em;
}
.compare-search-fields{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.compare-search-field{
    width: 40%;
    height: fit-content;
}

.percentile-toggle {
    display: flex;
    justify-items: center;
    align-items: center;
}
.percentile-toggle p {
    color: white;
    font-size: 0.8em;
}


/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    margin-left: 1em;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 12px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.percentile-options{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.percentile-options label{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.percentile-options input{
    display: inline-block;
}
.compare-image-percentile{
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.custom-tooltip{
    width: fit-content;
    height: fit-content;
    background-color: #ccc;
    padding: 1em;
}
.tooltip-label{
    height: 30%;
    font-size: 1em;
    margin-bottom: 0.5em;
}
.tooltip-line{
    font-size: 0.8em;
}
.select-menu{
    color: white;
    font-size: 0.6em;
}
.selected-season{
    font-weight: 600;
}
.attrlist-label{
    font-size: 1em;
}
.options-list{
    font-size: 1em;
}
.season-option{
    font-size: 1em;
}
.select{
    font-size: 1.2em;
}
@media screen and (max-width: 1000px) {
    .compare-body{
        flex-direction: column;
    }
    .player-display{
        width: 100%;
    }
    .compare-player-input{
        width: 100%;
        margin-bottom: 2em;
        max-height: 40vh;
    }
}

@media screen and (max-width: 400px) {
    .compare-image-percentile img{
        height: 90px;
    }
}

@media screen and (min-width: 1441px) {
    .compare-image-percentile{
        height: 100%;
    }
    .compare-image-percentile img{
        height: 100%;
    }
    .compare-player-input{
        width: 40%;
        font-size: 2em;
    }
    .checkbox-input{
        transform: 1em;
        margin-right: 1em;
    }
    .compare-search-fields{
        height: 25vh;
        font-size: 2em;
    }
    .compare-search-field{
        height: 80%;
    }
    .percentile-toggle{
        height: 13%;
        font-size: 1em;
    }
    .switch{
        height: 30px;
        width: 90px;
    }
    .slider:before {
        height: 24px;
        width: 24px;
        left: 4px;
        bottom: 3px;
    }
    .slider.round {
        border-radius: 18px;
    }
    .radar-chart{
        width: 100%;
        height: 850px;
    }
    .player-display{
        height: fit-content;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(55px);
        -ms-transform: translateX(55px);
        transform: translateX(55px);
    }
    .recharts-legend-wrapper{
        font-size: 2em;
    }
    .recharts-polar-angle-axis-tick-value tspan {
        font-size: 2em;
    }
    .custom-tooltip{
        font-size: 1em;
    }
    .attrlist-label{
        font-size: 1rem;
    }
    .select-menu{
        font-size: 0.8em;
    }
    .options-list{
        font-size: 0.8em;
    }
    .season-option{
        font-size: 0.8rem;
    }
    .select{
        font-size: 1rem;
    }
    .percentile-options{
        font-size: 1rem;
    }
    /* .season-option{
        font-size: 24px;
    } */
}