::-webkit-scrollbar {
    display: none;
}
.compare-player-input{
    width: 40%;
    border-radius: 8px;
    border: 2px solid black;
    color: white;
    height: 50vh;
    overflow: scroll;
    padding: 2em;
    width: fit-content;
}
.compare-attributes{
    overflow: scroll;
    height: 100%;
    width: fit-content;
}
.radar-chart{
    width: 100%;
    height: 600px;
}
.compare-body{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.player-display{
    width: 60%;
}
.compare-search-fields{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.compare-search-field{
    width: 40%;
    height: fit-content;
}

.percentile-toggle {
    display: flex;
    justify-items: center;
    align-items: center;
}
.percentile-toggle p {
    color: white;
    font-size: 0.8em;
}


/* slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    margin-left: 1em;
  }
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 12px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.percentile-options{
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
}
.compare-image-percentile{
    display: flex;
    height: 70%;
    align-items: center;
    justify-content: center;
}
.custom-tooltip{
    width: fit-content;
    height: fit-content;
    background-color: #ccc;
    padding: 1em;
}
.tooltip-label{
    height: 30%;
    font-size: 1em;
    margin-bottom: 0.5em;
}
.tooltip-line{
    font-size: 0.8em;
}