.taskbar{
    height: 10vh;
    width: 100%;
    background-color: #383838;
    color: #fefae0;
    display: flex;
    gap: 2em;
    box-sizing: border-box;
    position: sticky;
    justify-content: space-around;
    box-shadow: 2px 2px 2px 1px #181818;
}

.taskbar ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
}

.taskbar .logo{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 2;
    box-sizing: border-box;
    padding-left: 2em;
}

.taskbar li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    font-size: 1.25em;
}

.taskbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar li.active {
    background-color: #555;
}
  
.taskbar li:hover {
    background-color: #777;
}