@keyframes growAnimation {
    from {
      width: 0;
    }
    to {
      width: 100%; 
    }
}
.bar-collection{
    font-weight: 600;
}
.bar-info{
    margin-bottom: 1em;
}
.bar-title{
    margin-bottom: 0.2em;
}
.bar {
    width: 100%;
    overflow: hidden; /* Hide overflow content */
    font-weight: 400;
    display: flex;
    align-items: center;
    font-style: italic;
}
.value{
    width: 15%;
}
.jam {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 16px;
    color: #FFFFFF;
    animation: growAnimation 2s forwards;
    width: 85%;
}
.inner-bar{
    display: flex;
    justify-content: center;
    border-radius: 16px;
    padding: 0.5em 1em;
    box-sizing: border-box;
    opacity: 0.7;
}