/* CarouselHeader.css */

.carousel-header {
    display: flex;
    list-style: none;
    padding: 1.2em;
    margin: 0;
  }
  
  .carousel-item {
    flex: 1;
    text-align: center;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
    font-size: 0.8rem;
  }
  
  .selected {
    font-weight: bold;
    color: #333;
  }
  
  .greyed-out {
    color: #999;
  }
  