#tooltip-container {
    position: absolute;
    overflow: visible;
    background-color: #f1f2f3;
    z-index: 10;
    box-shadow: 2px 2px 2px;
    opacity: 0.9;
    padding: 10px;
    width: 300px;
}
#tooltip {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 0.9rem;
    flex-direction: column;
}
  
#tooltip-name {
    font-size: 1.2rem;
}