.taskbar{
    height: 10%;
    width: 100%;
    background-color: #6c757d;
    color: #fefae0;
    display: flex;
    gap: 2em;
    box-sizing: border-box;
    position: sticky;
    justify-content: space-around;
}

.taskbar ul {
    padding-right: 2em;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
}

.taskbar .logo{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 2;
    box-sizing: border-box;
    padding-left: 2em;
}

.taskbar li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar li.active {
    background-color: #555;
}
  
.taskbar li:hover {
    background-color: #777;
}

.home{
    box-sizing: border-box;
    width:100vw;
}

.home-content{
    width: 100%;
    box-sizing: border-box;
}

.home-layer-1{
    width: 100%;
    height: 90vh;
    display: flex;
    box-sizing: border-box;
    padding: 2em;
}

.home-layer-2{
    width: 100%;
    display: flex;
}

.premier-league-table{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.pl-season-info{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* overflow-y: scroll; */
}

.pl-data{
    box-sizing: border-box;
    height: 90%;
    flex: 5;
}

.home-tabs{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #C0C0C0;
    font-size: 1em;
    flex: 1;
    height: 10%;
} 

.home-tabs button{
    padding: 1em;
    background-color: transparent;
    border: 0;
    font-size: inherit;
    height: 100%;
}

.home-tabs .active-tab{
    border-bottom: 2px solid #555;
}

.pl-home-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.home-blog{
    flex: 1;
    border: 1px solid #5a5b60;
    min-height: 90vh;
    padding: 2em;
}

.home-search-trending{
    box-sizing: border-box;
    flex: 1;
    padding: 2em;
    height: fit-content;
    min-height: 90vh;
}

.explore{
    height: fit-content;
    padding: 2em;
    gap: 2em;
    width:100%;
    box-sizing: border-box;
    background-color: #ced4da;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    box-shadow: 0px 0px 5px #6c757d;
}

.player-container{
    gap: 1em;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-card{
    flex: 1;
    width: 100%;
    max-height: 40%;
    border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0px 0px 5px #6c757d;
}

.player-card .player-info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-right: 0.5em;
}

.player-card .player-info .player-name{
    font-size: 1.25em;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
}

.pl-home-container .table{
    overflow: scroll;
    width: 60%;
    box-sizing: border-box;
}

.pl-home-container .graph{
    width: 40%;
    height: 100%;
    font-size: inherit;
    padding: 1em 0;
}

.player-card .player-info .club-name{
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    margin: 0;
    color: #838389;
}
.player-card img {
    height: inherit;
    width:20%;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    .home-layer-2 {
        flex-direction: column;
    }
    .home{
        overflow: hidden;
        overflow-y: scroll;
    }
    .pl-season-info{
        height: 100vh;
    }
    .pl-home-container{
        flex-direction: column;
        width: 100%;
    }

}

@media screen and (max-width: 1000px) {
    .home-layer-1{
        height: fit-content;
    }
    .pl-season-info{
        height: fit-content;
    }
    .pl-data{
        height: fit-content;
    }
    .pl-home-container{
        flex-direction: column;
        width: 100%;
        height: 150vh;
        gap: 1em;
    }
    .pl-home-container .table{
        width: 100%;
        flex: 2;
    }
    .pl-home-container .graph {
        width: 100%;
        flex: 1;
    }
    .player-container{
        padding-top: 1em;
        flex-direction: column;
        gap: 1em;
        box-sizing: border-box;
    }
    .player-card{
        width: 100%;
        height: 100%;
    }
    .trending{
        height: fit-content;
        gap: 1em;
    }
    .home-blog{
        padding: 2em;
    }
    .player-card .player-info .player-name{
        font-size: 0.85em;
    }
    .player-card .player-info .club-name{
        font-size: 0.4em;
    }
}

.herobody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero-container{
    display: flex;
    flex-direction: column;
}

.title{
    color: white;
}

.search-container{
    width: 100%;
    display: flex;
}

.search-container button{
    flex: 1;
}

.search-container input{
    flex:  2;
}

.autosuggest-results{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0 1em 1em 1em;
    overflow: hidden;
    height: 300px;
}

.autosuggest-results ul {
    list-style: none;
    padding: 0;
}
