.taskbar{
    height: 10%;
    width: 100%;
    background-color: #495867;
    color: #fefae0;
    display: flex;
    gap: 2em;
    box-sizing: border-box;
    position: sticky;
    justify-content: space-around;
}

.taskbar ul {
    padding-right: 2em;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
}

.taskbar .logo{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 2;
    box-sizing: border-box;
    padding-left: 2em;
}

.taskbar li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar li.active {
    background-color: #555;
}
  
.taskbar li:hover {
    background-color: #777;
}

.home{
    box-sizing: border-box;
    width: 100%;
}

.home-content{
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.home-blog{
    width: 100%;
    border: 1px solid green;
    min-height: 90vh;
    padding: 2em;
}

.home-search-trending{
    box-sizing: border-box;
    width: 100%;
    padding: 2em;
    height: fit-content;
    min-height: 90vh;
}

.trending{
    height: fit-content;
    padding: 2em;
    gap: 2em;
    width:100%;
    box-sizing: border-box;
    background-color: #bdd5ea;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 25vh;
}

.player-container{
    gap: 1em;
    height: fit-content;
}

.player-card{
    height: 100%;

}

@media screen and (max-width: 600px) {
    .home-content {
      flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .player-container{
        padding-top: 1em;
        flex-direction: column;
        gap: 1em;
        box-sizing: border-box;
    }
    .player-card{
        width: 100%;
        height: 100%;
    }
    .trending{
        height: fit-content;
        gap: 1em;
    }
    .home-blog{
        padding: 2em;
    }
}

.herobody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    display: flex;
    flex-direction: column;
}

.title{
    color: white;
}

.search-container{
    width: 100%;
    display: flex;
}

.search-container button{
    flex: 1;
}

.search-container input{
    flex:  2;
}

.autosuggest-results{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0 1em 1em 1em;
    overflow: hidden;
    height: 300px;
}

.autosuggest-results ul {
    list-style: none;
    padding: 0;
}
