.home{
    box-sizing: border-box;
    width:100vw;
    height: fit-content;
}

.home-content{
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
}
.home-layer-2{
    width: 100%;
    display: flex;
}
.home-quiz{
    flex: 1;
    min-height: fit-content;
    padding: 2em;
}
.quiz-carousel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    justify-content: space-between;
    border-top: solid 1px white;
}
.quiz-carousel-title{
    font-size: 1.5em;
    border-bottom: solid 1px white;
    height: 8%;
    display: flex;
    align-items: center;margin-bottom: 3.2em;
}
.story-title{
    font-size: 1.2em;
}
.story-preview{
    font-size: 0.9em;
}
.carousel-image{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.carousel-navigator{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em 0 0 0;
}
.carousel-locator{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 12px;
    border: 0;
    background-color: #808080;
    cursor: pointer;
}

.home-search-trending{
    box-sizing: border-box;
    flex: 1;
    padding: 2em;
    height: fit-content;
    min-height: fit-content;
}

.explore{
    height: fit-content;
    padding: 2em;
    gap: 2em;
    width:100%;
    box-sizing: border-box;
    background-color: #696969;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    box-shadow: 0px 0px 5px #6c757d;
    box-sizing: border-box;
}

.player-container{
    gap: 1em;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #808080;
    border-radius: 8px;
    padding: 1.5em;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.player-card{
    flex: 1;
    width: 100%;
    max-height: 40%;
    border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0px 0px 5px #6c757d;
}

.player-card .player-info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-right: 0.5em;
}

.player-card .player-info .player-name{
    font-size: 1.25em;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
}

.player-card .player-info .club-name{
    font-size: 0.6em;
    display: flex;
    justify-content: right;
    margin: 0;
    color: #838389;
}
.player-card img {
    height: inherit;
    width:20%;
    border-radius: 8px;
}

.herobody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero-container{
    display: flex;
    flex-direction: column;
}

.title{
    color: white;
}

.search-container{
    width: 100%;
    display: flex;
}

.search-container button{
    flex: 1;
}

.search-container input{
    flex:  2;
}

.autosuggest-results{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0 1em 1em 1em;
    overflow: hidden;
    height: 300px;
}
.autosuggest-results ul {
    list-style: none;
    padding: 0;
}
@media screen and (max-width: 1023px) {
    .home-layer-2{
        flex-direction: column;
    }
    .quiz-carousel-title{
        padding: 0.5em 0;
    }
    .story-title{
        padding: 0.5em 0;
    }
}
@media screen and (min-width: 1800px) {
    .player-card .player-info .player-name{
        font-size: 2.5em;
    }
    .player-card .player-info .club-name{
        font-size: 1.2em;
    }
}
@media screen and (max-width: 800px) {
    .quiz-carousel-title{
        font-size: 1.2em;
    }
    .story-preview{
        font-size: 0.8em;
    }
    .carousel-locator{
        width: 8px;
        height: 12px;
        border-radius: 80%;
    }
    .player-card .player-info .player-name{
        font-size: 1.4em;
    }
    .player-card .player-info .club-name{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 500px) {
    .player-card .player-info .player-name{
        font-size: 0.8em;
    }
    .player-card .player-info .club-name{
        font-size: 0.4em;
    }
}
