.taskbar{
    height: 10vh;
    width: 100vw;
    background-color: #383838;
    color: #fefae0;
    display: flex;
    gap: 2em;
    box-sizing: border-box;
    position: sticky;
    justify-content: space-around;
    box-shadow: 2px 2px 2px 1px #181818;
}

.taskbar ul {
    padding-right: 2em;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
    flex: 1;
    box-sizing: border-box;
}

.taskbar .logo{
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 2;
    box-sizing: border-box;
    padding-left: 2em;
}

.taskbar li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar li.active {
    background-color: #555;
}
  
.taskbar li:hover {
    background-color: #777;
}

.home{
    box-sizing: border-box;
    width:100vw;
    height: fit-content;
}

.home-content{
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
}
.home-layer-1{
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    padding: 2em;
    overflow: hidden;
}
.pl-season-info{
    width: 100%;
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none; 
}
.pl-home-container{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    overflow: scroll;
}
.pl-home-container .table{

    box-sizing: border-box;
    overflow: scroll;
    flex: 1.5;
}
.pl-home-container .graph{
    height: 100%;
    width: 100%;
    max-height: 70vh;
    flex: 1;
}
.graph div{
    color: #C0C0C0;
    padding: 1em 0;
}
.home-tabs{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    font-size: 1em;
    height: 10vh;
} 

.home-tabs button{
    padding: 1em;
    background-color: transparent;
    border: 0;
    font-size: inherit;
    height: 100%;
    color: #E0E0E0;
}
.home-tabs button:hover{
    cursor: pointer;
}

.home-tabs .active-tab{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: #505050;
    color: #F8F8F8;
}
.home-layer-2{
    width: 100%;
    display: flex;
}
.home-blog{
    flex: 1;
    border: 1px solid #5a5b60;
    min-height: 90vh;
    padding: 2em;
}

.home-search-trending{
    box-sizing: border-box;
    flex: 1;
    padding: 2em;
    height: fit-content;
    min-height: 90vh;
}

.explore{
    height: fit-content;
    padding: 2em;
    gap: 2em;
    width:100%;
    box-sizing: border-box;
    background-color: #696969;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 25vh;
    box-shadow: 0px 0px 5px #6c757d;
    box-sizing: border-box;
}

.player-container{
    gap: 1em;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #808080;
    border-radius: 8px;
    padding: 1.5em;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
}

.player-card{
    flex: 1;
    width: 100%;
    max-height: 40%;
    border-radius: 8px;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0px 0px 5px #6c757d;
}

.player-card .player-info{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin-right: 0.5em;
}

.player-card .player-info .player-name{
    font-size: 1.25em;
    font-weight: 700;
    margin: 0;
    display: flex;
    justify-content: center;
}
.graph div{
    flex: 1;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.player-card .player-info .club-name{
    font-size: 0.6em;
    display: flex;
    justify-content: right;
    margin: 0;
    color: #838389;
}
.player-card img {
    height: inherit;
    width:20%;
    border-radius: 8px;
}

.herobody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero-container{
    display: flex;
    flex-direction: column;
}

.title{
    color: white;
}

.search-container{
    width: 100%;
    display: flex;
}

.search-container button{
    flex: 1;
}

.search-container input{
    flex:  2;
}

.autosuggest-results{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0 1em 1em 1em;
    overflow: hidden;
    height: 300px;
}

.autosuggest-results ul {
    list-style: none;
    padding: 0;
}
