.player-page{
    width: 100vw;
    height: fit-content;
    padding: 2em;
    box-sizing: border-box;
}
.player-page-container{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}
.player-header{
    width: 100%;
    max-height: 20vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf ;
    border-radius: 8px 8px 0 0;
    background-color: #fff;
    box-sizing: border-box;
    padding-right: 1em;
}
.player-header img {
    max-width: fit-content;
    max-height: 100%;
    border-radius: 8px;
    flex: 1;
    display: block;
    object-fit: contain;
}
.player-page-info{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: fit-content;
    max-width: 30%;
    flex: 2;
    box-sizing: border-box;
}
.player-name{
    font-size: 2em;
    font-weight: 600;
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: right;
    text-align: right;
    margin-bottom: 0.5em;
}
.player-page-club{
    width: 100%;
    display: flex;
    justify-content: right;
    text-align: right;
    margin: 0;
    color: #838389;
}
.player-page-club:hover{
    color: #cfcfcf;
    cursor: pointer;
}
.player-page-position{
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 0;
    color: #838389;
}
.player-page-body{
    width:100%;
    background-color: white;
    max-height: fit-content;
    height: 100%;
    border-radius: 0 0 8px 8px;
    padding-top: 1em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.chart-body{
    height: fit-content;
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: 1em;
    box-sizing: border-box;
    justify-content: space-between;
}
.chart-container{
    max-height: fit-content;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.percentile-polar-chart{
    height: fit-content;
    max-width: 30vw;
}
.chart-container p{
    margin: 0 0 1em 0;
    font-size: 0.5em;
    color: #838389;
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
}
.position-tabs button{
    max-height: 8vh;
    cursor: pointer;
    padding: 1em;
    background-color: transparent;
    font-size: inherit;
    border: 0;
    flex: 1;
    color: #505050;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
}
.position-tabs .active-position{
    border-bottom: 1px solid #838389 ;
    border-top: 1px solid #838389 ;
}
.position-tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    box-sizing: border-box;
}
.numbers-container{
    width: 30%;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    box-sizing: border-box;
    font-size: 0.8em;
    flex-direction: column;
}
.player-statistics{
    padding: 1em;
    box-sizing: border-box;
    min-width: 100%;
}
.compare-page{
    width: 100%;
    box-sizing: border-box;
}
.compare-details-wrapper{
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
    height: 90vh;
}
.create-page{
    width: 100%;
    box-sizing: border-box;
}
.create-body{
    display: block;
    padding: 2em;
    height: fit-content;
    justify-content: space-between;
}
.set-graph{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.autosuggest-label{
    display: flex;
    text-align: center;
    color: white;
    align-items: center;
}
.autosuggest-set{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.autosuggest-body{
    width: 40%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.create-graph{
    width: 100%;
    max-height: 50vh;
}
.season-menu{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.season-select{
    border-top: #838389 1px solid;
    padding: 1em;
    border-bottom: #838389 1px solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.season-select{
    max-height: 8vh;
}
.carousel-header {
    display: flex;
    list-style: none;
    padding: 1.2em;
    margin: 0;
    width: 100%;
}
/* .season{
    width: 20px;
} */
@media screen and (max-width: 1023px) {
    .percentile-polar-chart{
        height: fit-content;
        max-width: 60vw;
    }
    .chart-body{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .chart-container{
        width: 100%;
        max-width: 100%;
    }
    .numbers-container{
        width: 100%;
    }
    .season-menu{
        width: 100%;
    }
    .compare-details-wrapper{
        height: 80vh;
    }
}
/* @media screen and (max-width: 1024px) {
    .create-body{
        flex-direction: column;
    }
    .set-graph{
        width: 100%;
        padding: ;
    }
    .create-graph{
        width: 100%;
    }
} */
@media screen and (max-width: 500px) {
    .player-header{
        padding-right: 0.5em;
    }
    .percentile-polar-chart{
        height: fit-content;
        max-width: 80vw;
    }
}
@media screen and (max-width: 800px) {
    .player-statistics{
        min-width: 90%;
    }
    .numbers-container{
        border-top: #C0C0C0 1px solid;
        border-bottom: #C0C0C0 1px solid;
    }
}

/*HEADER FONT SCALING*/
@media screen and (max-width: 800px) {
    .player-name{
        font-size: 1.5em;
    }
    .player-page-club{
        font-size: 0.7em;
        margin-bottom: 0.5em;
    }
    .player-page-position{
        font-size: 0.7em;
    }
}
@media screen and (max-width: 300px) {
    .player-name{
        font-size: 1em;
    }
    .player-page-club{
        font-size: 0.5em;
        margin-bottom: 0.5em;
    }
    .player-page-position{
        font-size: 0.5em;
    }
}
@media screen and (min-width: 1441px) {
    .player-name{
        font-size: 1.8em;
    }
    .player-page-club{
        font-size: 1.2em;
        margin-bottom: 0.5em;
    }
    .player-page-position{
        font-size: 1em;
    }
    .chart-container p{
        font-size: 0.8em;
    }
    .position-tabs button{
        font-size: 1em;
    }
    .player-statistics{
        min-width: 100%;
    }
    .player-header{
        height: 15vh;
    }
}

@media screen and (min-width: 1800px) {
    .player-name{
        font-size: 2em;
    }
    .player-page-club{
        font-size: 1.4em;
        margin-bottom: 0.5em;
    }
    .player-page-position{
        font-size: 1.2em;
    }
    .chart-container p{
        font-size: 1em;
    }
    .position-tabs button{
        font-size: 1.2em;
    }
    .player-statistics{
        min-width: 100%;
    }
    .player-header{
        height: 15vh;
    }
}