.player-page{
    width: 100vw;
    height: fit-content;
    padding: 2em;
    box-sizing: border-box;
}
.player-page-container{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    background-color: white;
    border-radius: 8px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}
.player-header{
    width: 100%;
    max-height: 20vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cfcfcf ;
    border-radius: 8px 8px 0 0;
    background-color: #fff;
    box-sizing: border-box;
    padding-right: 1em;
}
.player-header img {
    max-width: fit-content;
    max-height: 100%;
    border-radius: 8px;
    flex: 1;
    display: block;
    object-fit: contain;
}
.player-page-info{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: fit-content;
    max-width: 30%;
    flex: 2;
    box-sizing: border-box;
}
.player-name{
    font-size: 2em;
    font-weight: 600;
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: right;
    text-align: right;
    margin-bottom: 0.5em;
}
.player-page-club{
    width: 100%;
    display: flex;
    justify-content: right;
    text-align: right;
    margin: 0;
    color: #838389;
}
.player-page-club:hover{
    color: #cfcfcf;
    cursor: pointer;
}
.player-page-position{
    width: 100%;
    display: flex;
    justify-content: right;
    margin: 0;
    color: #838389;
}
.player-page-body{
    width:100%;
    background-color: white;
    max-height: fit-content;
    height: 100%;
    border-radius: 0 0 8px 8px;
    padding-top: 1em;
    box-sizing: border-box;
}
.chart-body{
    height: fit-content;
    width: fit-content;
    max-width: 100%;
}
.chart-container{
    max-height: fit-content;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.percentile-polar-chart{
    height: fit-content;
    max-width: 25vw;
    /* width: 40vh; */
}
.chart-container p{
    margin: 0 0 1em 0;
    font-size: 0.5em;
    color: #838389;
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
}
.position-tabs button{
    cursor: pointer;
    padding: 1em;
    background-color: transparent;
    font-size: inherit;
    border: 0;
    flex: 1;
    color: #505050;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
}
.position-tabs .active-position{
    border-bottom: 1px solid #838389 ;
    border-top: 1px solid #838389 ;
}
.position-tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    flex-grow: 1;
}

@media screen and (max-width: 1024px) {
    .percentile-polar-chart{
        height: fit-content;
        max-width: 60vw;
    }
    .chart-body{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .chart-container{
        width: 100%;
        max-width: 100%;
    }
    .player-page{
        height: fit-content;
    }
    .player-page-container{
        height: fit-content;
    }
}

@media screen and (max-width: 500px) {
    .player-header{
        padding-right: 0.5em;
    }
    .percentile-polar-chart{
        height: fit-content;
        max-width: 80vw;
    }
}

/*HEADER FONT SCALING*/
@media screen and (max-width: 800px) {
    .player-name{
        font-size: 1.5em;
    }
    .player-page-club{
        font-size: 0.7em;
        margin-bottom: 0.5em;
    }
    .player-page-position{
        font-size: 0.7em;
    }
}
@media screen and (max-width: 300px) {
    .player-name{
        font-size: 1em;
    }
    .player-page-club{
        font-size: 0.5em;
        margin-bottom: 0.5em;
    }
    .player-page-position{
        font-size: 0.5em;
    }
}